@model RedactApplication.Models.UTILISATEURViewModel
@{
    ViewBag.Title = "Utilisateur";

    if (Model != null)
    {
        ViewBag.userId = Model.userId;
    }


    Layout = "~/Views/Shared/LayoutConnected.cshtml";
}
@section Scripts{

    <link rel="stylesheet" href="~/Content/css/elements/profil.css">
    <script>
          $("#checkReferenceur").prop('checked', false);
    $("#checkRedacteur").prop('checked', false);
    $("#checkManager").prop('checked', false);
    @if (ViewBag.userRole == 1)
    {
        @:jQuery("#checkReferenceur").prop('checked', true);
    }
    @if (ViewBag.userRole == 2)
    {
        @:jQuery("#checkRedacteur").prop('checked', true);

    }
    @if (@ViewBag.userRole == 3)
    {
        @:jQuery("#checkManager").prop('checked', true);
    }
    </script>
  


}
@if (ViewBag.succes != null)
{
    if (ViewBag.succes == 1)
    {
        <script>
            $("#EditUserPopUp").modal();
            $("div#EditUserPopUp").css("display", "block");
        </script>
    }
}
}

<main id="wrapper">
    <div id="single-container">
        <div class="onglets ease-in-out">
            <ul>
                <li><a href="~/Home/ListeUser">Utilisateurs</a></li>
                <li><a href="~/Commandes/ListCommandes" class="active">Commandes</a></li>
                <li><a href="~/Facture/ListFacture">Factures</a></li>
            </ul>
        </div>
        <div class="card back-office with-shadow">
            @if (ViewBag.ErrorMessage != null)
            {
                <label class="error-msg ltl-consign">Please select at least one role.</label>
            }

            @if (ViewBag.ErrorUserCreation != null)
            {
                <label class="error-msg ltl-consign">This email is already exist.</label>
            }

            @if (ViewBag.ErrorUserValidation != null)
            {
                <label class="error-msg ltl-consign">This email is not valid.</label>
            }

            @using (Html.BeginForm("ModifierUtilisateur", "Home", FormMethod.Post, new { @class = "formfields", enctype = "multipart/form-data" }))
            {
                <fieldset>
                    <input type="hidden" value="@Model.userId" name="idUser">
                    <div class="head">
                        <div class="flex-content flex-jcenter-acenter edit-avatar">
                            <span>

                                @if (!string.IsNullOrEmpty(Model.logoUrl))
                                {
                                    <img src="@Model.logoUrl" alt="@Model.userNom" title="@Model.userNom" />
                                }
                                else
                                { <img src="~/images/avatar.png" alt="" srcset="" />}
                            </span>
                            <div class="flex-content flex-col change-avatar">
                                Votre avatar
                                @Html.TextBoxFor(m => m.logoUrl, new { type = "file", name = "file", id = "site-logo" })
                                <div class="input-custom">
                                    <label for="site-logo" class="label-file">Choisir</label><span class="file-name"></span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Champs -->
                    <section class="clearfix">
                        <label for="" class="col-50 pull-left">
                            Nom(*)
                            @Html.TextBoxFor(x => x.userNom, new { @required = true })
                        </label>
                        <label for="" class="col-50 pull-left">
                            Prénom
                            @Html.TextBoxFor(x => x.userPrenom, new { @required = true })
                        </label>
                        <label for="" class="col-50 pull-left">
                            E-mail(*)
                            @Html.TextBoxFor(x => x.userMail, new { @required = true, @type = "email" })
                        </label>
                        <label for="" class="col-50 pull-right">
                            Skype
                            @Html.TextBoxFor(x => x.redactSkype, new { @required = true })
                        </label>
                        <label for="" class="col-50 pull-left">
                            Téléphone
                            @Html.TextBoxFor(x => x.redactPhone, new { @type = "tel", @required = true })
                        </label>
                    </section>
                    <section class="clearfix">
                        <div class="section-title">
                            <span>Role</span>
                        </div>
                        <label for="" class="col-100">
                            <label for="" class="col-100">
                                <input type="checkbox" name="selectedRole" value="1" id="checkReferenceur" style="display: inline-block; width: auto; vertical-align: middle; margin: 10px 0;" /> Referenceur
                            </label>

                            <label for="" class="col-100">

                                <input type="checkbox" name="selectedRole" value="2" id="checkRedacteur" style="display: inline-block; width: auto; vertical-align: middle; margin: 10px 0;" /> Redacteur
                            </label>
                            <label for="" class="col-100">

                                <input type="checkbox" name="selectedRole" value="3" id="checkManager" style="display: inline-block; width: auto; vertical-align: middle; margin: 10px 0;" />  Manager
                            </label>

                        </label>

                    </section>
                    @if (ViewBag.userRole == 2) //if redacteur user
                    {
                        <section class="clearfix" id="CheckEditRedacteur">
                            <div class="section-title">
                                <span>Redacteur informations</span>
                            </div>
                            <label for="" class="col-50 pull-right">
                                Volume / Jour
                                @Html.TextBoxFor(x => x.redactVolume, new { @type = "number" })
                            </label>
                            <label for="" class="col-50 pull-left">
                                Tarif (Ariary)
                                @Html.TextBoxFor(x => x.redactTarif, new { @type = "number" })
                            </label>
                            <label for="" class="col-50 pull-right">
                                Thèmes
                                @Html.TextBoxFor(x => x.redactThemes)
                            </label>
                            <label for="" class="col-50 pull-left">
                                Niveau
                                @Html.DropDownListFor(x => x.redactNiveau,
                                                                new List<SelectListItem> {
                                                                    new SelectListItem { Value = " " , Text = "Selectionner niveau" },
                                                                    new SelectListItem { Value = "Bas" , Text = "Bas" },
                                                                    new SelectListItem { Value = "Moyen" , Text = "Moyen" },
                                                                    new SelectListItem { Value = "Avancé" , Text = "Avancé" }
                                                                })
                            </label>
                            <label for="" class="col-50 pull-right">
                                Référenceur
                                @Html.TextBoxFor(x => x.redactReferenceur)
                            </label>
                            <label for="" class="col-50 pull-left">
                                Mode de paiement
                                @Html.DropDownListFor(x => x.redactModePaiement,
                                                                 new List<SelectListItem> {
                                                                     new SelectListItem { Value = " " , Text = "Selectionner mode de paiement" },
                                                                     new SelectListItem { Value = "Chèque" , Text = "Chèque" },
                                                                     new SelectListItem { Value = "E-money" , Text = "E-money" },
                                                                     new SelectListItem { Value = "Virement bacaire" , Text = "Virement bacaire" }
                                                                 })
                            </label>

                        </section>
                    }
                    <section class="clearfix submit-area" style=" margin: 70px auto 0;">
                        <input type="submit" value="Enregistrer" class="btn btn-success">
                        @Html.ActionLink("Annuler", "ListeUser", "Home", new { }, new { @class = "btn btn-warning" })

                    </section>
                </fieldset>
            }
        </div>
    </div>
</main>



<!--  Dialogue succès edit user   -->
<div id="EditUserPopUp" style="display:none">
    @Html.Partial("~/Views/Home/EditUserConfirmation.cshtml")
</div>


