@model RedactApplication.Models.MODELEViewModel

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Styles -->
    <link rel="stylesheet" href="~/Themes/Home4/css/templates-style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Themes/Home4/css/bases.css">
    <title>Document</title>
</head>
<body class="template t-4">

    <div class="wrapper">
        <!-- Bloc header -->
        <header>
            <div id="topbar" class="centered">
                <a href="javacsript:void(0)" class="t-logo">
                    <img src="@Model.logoUrl.Trim()" alt="" srcset="">
                    <span class="site-url">@Model.site_url</span>
                </a>
            </div>
        </header>
        <!-- Fin Bloc header -->
        <!-- Bloc de contenu -->
        <main>
            <div id="banner">
                <img src="@Model.photoALaUneUrl" alt="" srcset="">
            </div>

            <div id="contenu">
                <div class="container">
                    <section id="photo-l-texte" class="row">
                        <div class="col-50 photo">
                            <img src="@Model.menu1_paragraphe1_photoUrl" alt="" srcset="">
                        </div>
                        <div class="col-50 texte">
                            <h1>
                                @Model.menu1_paragraphe1_titre
                            </h1>
                            <p> @Model.menu1_contenu1</p>
                        </div>
                    </section>

                    <section id="full-text" class="grey-bg">
                        <h2> @Model.menu1_paragraphe2_titre</h2>
                        <p> @Model.menu1_contenu2</p>
                    </section>
                </div>
            </div>
        </main>
        <footer id="f4-footer">
            <nav class="footer-nav">
                <span>Copyright 2018 - @Model.site_url	<em class="sep">|</em> 	<a href="#">Mentions légales</a></span>
            </nav>
        </footer>
    </div>

    <div id="toast" class="with-shadow">
    
        <a href="~/Template/CreateTemplate/@Model.modeleId" class="btn btn-primary" title="Détails">Télécharger</a>
    </div>

</body>
</html>