@model RedactApplication.Models.MODELEViewModel
@{
    ViewBag.Title = "Thème 1";
    Layout = "~/Views/Shared/LayoutConnected.cshtml";
}

@section Scripts {


}
<main id="wrapper">
    <div id="single-container">
        <div class="onglets ease-in-out">
            <ul>
                <li><a href="" class="active">Creation Site</a></li>
            </ul>
        </div>
        <div class="theme-select grey-bg">
            @using (Html.BeginForm("SaveTheme", "Template", FormMethod.Post, new { @class = "formfields", enctype = "multipart/form-data" }))
            {
                <div class="card back-office with-shadow">
                    <section class="clearfix">
                        <label for="" class="col-100" style="margin-bottom: 30px;">

                            <div class="flex-content flex-col change-avatar">
                                Votre logo
                                @Html.TextBoxFor(m => m.logoUrl, new { type = "file", name = "file", id = "site-logo" })
                                <div class="input-custom">
                                    <label for="site-logo" class="label-file">Choisir</label>
                                    <span class="">
                                        <img id="logoUrl"  alt="" srcset="" />
                                    </span>
                                </div>
                            </div>
                            
                        </label> 
                    </section>

                    <section class="clearfix">
                        <div class="section-title">

                            <label for="" class="col-50 pull-left">
                                Site
                                @Html.TextBoxFor(m => m.site_url)
                            </label>
                            <label for="" class="col-50 pull-right">
                                Photo à la une
                                @Html.TextBoxFor(x => x.photoALaUneUrl, new { type = "file", name = "files", id = "site-photoALaUneUrl" })
                                <div class="input-custom">
                                    <label for="site-photoALaUneUrl" class="label-file">Choisir</label>
                                </div>
                                <span class="">
                                    <img id="photoALaUneUrl" alt="" srcset="" />
                                </span>
                            </label>
                            <label for="" class="col-50 pull-left">
                                Titre paragraphe 1
                                @Html.TextBoxFor(x => x.menu1_paragraphe1_titre)
                            </label>
                            <label for="" class="col-50 pull-right">
                                Photo 1
                                @Html.TextBoxFor(x => x.menu1_paragraphe1_photoUrl, new { type = "file", name = "files", id = "site-photo1" })
                                <div class="input-custom">
                                    <label for="site-photo1" class="label-file">Choisir</label>
                                </div>
                                <span class="">
                                    <img id="menu1_p1_photoUrl" alt="" srcset="" />
                                </span>

                            </label>

                            <label for="" class="col-100">
                                Contenu 1
                                @Html.TextAreaFor(x => x.menu1_contenu1)
                            </label>
                            <label for="" class="col-100 ">
                                Titre paragraphe 2
                                @Html.TextBoxFor(x => x.menu1_paragraphe2_titre)
                            </label>        
                            <label for="" class="col-100">
                                Contenu 2
                                @Html.TextAreaFor(x => x.menu1_contenu2)
                            </label>
                        </div>
                    </section>

                    <section class="clearfix submit-area">
                        <input type="submit" value="Enregistrer" class="btn btn-success">
                        @Html.ActionLink("Annuler", "ListTemplate", "Template", new { }, new { @class = "btn btn-warning" })
                    </section>
                </div>
            }
        </div>
    </div>
</main>

