@model RedactApplication.Models.MODELEViewModel
@{
    ViewBag.Title = "Thème 4";
    Layout = "~/Views/Shared/LayoutConnected.cshtml";
}

@section Scripts {

    <link rel="stylesheet" href="~/Content/css/elements/sites-creation.css">

    <script type="text/javascript" src="~/Scripts/codetemplate.js"></script>
    <script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
}

<main id="wrapper">
    <div id="single-container">
        <div class="onglets ease-in-out">
            <ul>
                <li> @Html.ActionLink("Dashboard", "ListTemplate", new { controller = "Template" }) </li>
                <li> @Html.ActionLink("Creation Site", "ChoiceTemplate", new { controller = "Template" }, new { @class = "active" })</li>
            </ul>
        </div>
        <div class="theme-select grey-bg">
            <section class="clearfix container">
                <div class="row">
                    <a href="" class="col-md-3 selected">
                        <div class="thumb with-shadow"><img src="../../../images/theme4_thumb.jpg" /></div>
                        <span>Thème 4</span>
                    </a>
                </div>
            </section>
        </div>
        @using (Html.BeginForm("SaveTheme", "Template", FormMethod.Post, new { @class = "formfields", enctype = "multipart/form-data" }))
        {
            <section class="theme-customization clearfix">
                <div class="section-title">
                    <span>Identité de votre site</span>
                </div>

                <div class="row site-identity">
                    <div class="col-md-6">
                        <div class="blk">
                            <strong>Logo (*)</strong>
                            @Html.TextBoxFor(m => m.logoUrl, new { type = "file", accept = "image/*", name = "file", id = "logoUrl",  required = true })
                            <label for="logoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                            <p>Image au format JPG, PNG ou GIF</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blk">
                            <strong>L'url de votre site (*)</strong>
                            @Html.TextBoxFor(m => m.site_url, new { placeholder = "www.example.com", required = true, type = "url" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blk">
                            <strong>Choisir un favicon (*)</strong>
                            @Html.TextBoxFor(m => m.favicone, new { type = "file", accept = "image/*", required = true, name = "file", id = "favicone" })
                            <label for="favicone" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                            <p>Image au format JPG, PNG ou GIF</p>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="blk">
							<strong>Photo à la une</strong>
                            @Html.TextBoxFor(x => x.photoALaUneUrl, new { type = "file", accept = "image/*", name = "files", id = "photoALaUneUrl", required = true })
                            <label for="photoALaUneUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                            <p>Image au format JPG, PNG ou GIF</p>
                        </div>
                    </div>                                                 
                </div>
                
                <!-- contenu bloc 1 -->
                <div class="section-title">
                    <span>Contenu du site</span>
                </div>
                <div class="blk clearfix">
                    <div class="item">
                        <label for="" class="col-md-6">
                            <strong>Intitulé de la page d'accueil</strong>
                            @Html.TextBoxFor(x => x.menu1_titre, new { placeholder = "Exemple: Accueil, Presentation,...etc", required = true })
                        </label>
                        <label for="" class="col-md-6">
                            <strong>Méta description</strong>
                            @Html.TextBoxFor(x => x.menu1_meta_description, new { placeholder = "Ajoutez votre description" })
                        </label>
                        <span class="divider"></span>
                        <label for="" class="col-md-6">
                            <strong>Titre du paragraphe 1</strong>
                            @Html.TextBoxFor(x => x.menu1_paragraphe1_titre, new { required = true })
                        </label>
                        <div class="col-md-6 custom-upload">
							<strong>Photo paragraphe 1</strong>
                            @Html.TextBoxFor(x => x.menu1_paragraphe1_photoUrl, new { type = "file", accept = "image/*", name = "files", id = "menu1_paragraphe1_photoUrl" })
                            <label for="menu1_paragraphe1_photoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                            <p>Image au format JPG, PNG ou GIF</p>
                        </div>
                        <label for="" class="col-md-12">
                            Contenu 1
                            @Html.TextAreaFor(x => x.menu1_contenu1)
                        </label>
                        <span class="divider"></span>
                        <label for="" class="col-md-6">
                            <strong>Titre du paragraphe 2</strong>
                            @Html.TextBoxFor(x => x.menu1_paragraphe2_titre)
                        </label>
                        <label for="" class="col-md-12">
                            <strong>Contenu 2</strong>
                            @Html.TextAreaFor(x => x.menu1_contenu2)
                        </label>
                    </div>
                </div>
            </section>

            <section class="clearfix submit-area" id="toast">
                <input type="submit" value="Suivant" class="btn btn-success">
                @Html.ActionLink("Annuler", "ChoiceTemplate", "Template", new { }, new { @class = "btn btn-warning" })
            </section>
        }
    </div>
</main>
