@using RedactApplication.Models
@model RedactApplication.Models.FACTUREViewModel

@{
    ViewBag.Title = "Créer facture";
    Layout = "~/Views/Shared/LayoutFullPage.cshtml";

}

@if (ViewBag.succes != null)
{
    if (ViewBag.succes == 1)
    {
        <script>
            $("#addUserPopUp").modal();
            $("div#addUserPopUp").css("display", "block");
        </script>
    }
    else if (ViewBag.succes == 2)
    {
        <script>
            $("#errorLimitUserPopUp").modal();
            $("div#errorLimitUserPopUp").css("display", "block");
        </script>
    }
    else if (ViewBag.succes == 3)
    {
        <script>
            $("#errorValidDataUserPopUp").modal();
            $("div#errorValidDataUserPopUp").css("display", "block");
        </script>
    }
}
}
@section Scripts{
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker3.css" />
    <script type="text/javascript" src="~/Scripts/js/bootstrap-datepicker.min.js"></script>

    

    <script type="text/javascript">
        jQuery(document).ready(function () {
             var date = new Date();
			date.setDate(date.getDate());
            var dateDebut = $('input[name="dateDebut"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
                weekStart: 1
            };
            dateDebut.datepicker(options);
            

            var date_input_fin = $('input[name="dateFin"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options_fin = {
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
                weekStart: 1
            };
            date_input_fin.datepicker(options_fin);
           
        });



    </script>
}


<main class="wrapperpages">
    <div class="page pagesDivision clear">



        <section class="column2 rightDivision fullWidth">
            <div class="rowpad">
                <div>
                    <div class="admin-link-menu">

                        <a href="~/Home/ListeUser" class="admin-link ">Utilisateurs</a>
                        <a href="~/Commandes/ListCommandes" class="admin-link ">Commandes</a>
                        <a href="~/Facture/ListFacture" class="admin-link active">Factures</a>
                    </div>
                    <!-- end admin menu -->
                </div>
                <div id="divisionContent">
                    <div class="breadcrumb">
                        <span>Commandes > Créer facture</span>
                        <hr />
                    </div>
                    <!-- top panel -->
                    <div id="inner-top-panel" class="hidepanel clear">
                        <div class="left search-bloc">
                            <form method="get" action="" class="usr-srch">
                                <div class="usr-srch--input-wrapper">
                                    <input class="usr-srch--input" type="search" placeholder="Search" />
                                </div>
                                <input class="usr-srch--submit" type="submit" value="&#xf002;">
                            </form>
                        </div>

                        <div class="right usr-create">
                            <a href="#" title="Creer commande" class="green-btn">Créer facture</a>
                        </div>
                    </div>
                    <!-- end top panel -->

                    <div class="useredits innerform-container">
                        <i class="fa fa-3x"><img src="~/images/icon-create-custom.png" alt="Photo icon profil"></i>
                        <h3>Créer facture</h3>
                        <span class="ltl-consign"><i class="fa fa-info-circle"></i> Veuillez remplir les champ requis et appuyez sur Enregistrer pour créer une facture</span>

                        @if (ViewBag.ErrorMessage != null)
                        {
                            <label class="error-msg ltl-consign">Selectionner au moins un rédacteur.</label>
                        }
                       


                        <div class="dashCreate-user item-container">

                            <div class="center_blc">
                                @using (Html.BeginForm("CreateFacture", "Facture", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "createfacture" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <fieldset>
                                        <div class="inline-form clr">

                                            <div>
                                                <label>
                                                    <span>Rédacteur</span>
                                                    @Html.DropDownListFor(x => Model.listRedacteurId, new SelectList(Model.ListRedacteur, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "SelectItemRedacteur" })
                                                </label>
                                            </div>
                                            Période concerné :
                                            <div>
                                                <label>
                                                    <span>du</span>
                                                    @Html.TextBoxFor(x => x.dateDebut, "{0:dd/MM/yyyy}", new { @class = "input form-control", type = "text" })
                                                    @Html.ValidationMessageFor(m => m.dateDebut)
                                                </label>
                                            </div>
                                            <div>
                                                <label>
                                                    <span>au</span>
                                                    @Html.TextBoxFor(x => x.dateFin, "{0:dd/MM/yyyy}", new { @class = "input form-control", type = "text" })
                                                    @Html.ValidationMessageFor(m => m.dateFin)
                                                </label>
                                            </div>

                                           
                                            <div class="clear"></div>

                                            <div id="divCampaignManager left_b1">

                                                <div class="divisionSelect">
                                                    <div class="btn-submit sav_us1">

                                                        <button type="submit" value="Save">Save</button>

                                                        @Html.ActionLink("Cancel", "ListFacture", "Facture", new { }, new { @class = "resetbtn cacel_us1 left_b1" })
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
<!--  Dialogue succès ajout user   -->
<div id="addUserPopUp">

</div>

<!--  Dialogue error valid data   -->
<div id="errorValidDataUserPopUp">

</div>

