@using RedactApplication.Models
@model RedactApplication.Models.COMMANDEViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutConnected.cshtml";

}

@if (ViewBag.succes != null)
{
    if (ViewBag.succes == 1)
    {
        <script>
            $("#addUserPopUp").modal();
            $("div#addUserPopUp").css("display", "block");
        </script>
    }
    else if (ViewBag.succes == 2)
    {
        <script>
            $("#errorLimitUserPopUp").modal();
            $("div#errorLimitUserPopUp").css("display", "block");
        </script>
    }
    else if (ViewBag.succes == 3)
    {
        <script>
            $("#errorValidDataUserPopUp").modal();
            $("div#errorValidDataUserPopUp").css("display", "block");
        </script>
    }
}

@section Scripts{
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker3.css" />
    <script type="text/javascript" src="~/Scripts/js/bootstrap-datepicker.min.js"></script>

    <link rel="stylesheet" href="~/Content/css/elements/commandes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css">
   
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var date = new Date();
            date.setDate(date.getDate());
            var date_input = $('input[name="date_livraison"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
                weekStart: 1,
                startDate: date
            };
            date_input.datepicker(options);


            $("#SelectItemRedacteur").prop('disabled', 'disabled');
            $("#SelectItemTheme").change(function () {

                var dID = $(this).val();

                $.getJSON("../Commandes/LoadRedacteurByTheme", { theme: dID },
                    function (data) {
                        var select = $("#SelectItemRedacteur");
                        $("#SelectItemRedacteur").prop('disabled', false);
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Selectionner redacteur"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
            });

            $("#SelectItemRedacteur").change(function () {
              
                var selectItemRedacteur = $(this).val();
                $("#selectedRedact").text(selectItemRedacteur);
                $.getJSON("../Commandes/LoadOtherRedacteur", { redact: selectItemRedacteur },
                    function (data) {
                        var select = $("#SelectItemOtherRedacteur");
                      
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Choisir un autre redacteur"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
            });

            

            $("#tag").autocomplete({

                source: function (request, response) {
                    $.ajax({

                        type: 'GET',
                        url: '/Commandes/AutocompleteTagSuggestions',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (val, item) {

                                return {
                                    value: val.Text,
                                    text: val.Value
                                }
                            }))
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                },
                select: function (event, ui) {
                    $("#tag").val(ui.item.text);
                    console.log($("#tag").val(ui.item.text));
                },
                minLength: 1
            });

            $("#site").autocomplete({

                source: function (request, response) {
                    $.ajax({

                        type: 'GET',
                        url: '/Commandes/AutocompleteSiteSuggestions',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (val, item) {

                                return {
                                    value: val.Text,
                                    text: val.Value
                                }
                            }))
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                },
                select: function (event, ui) {
                    $("#site").val(ui.item.text);

                },
                minLength: 1
            });


        });



    </script>
}

@if (Session["name"] != null)
{
    <main id="wrapper">
        <div id="single-container">
            <div class="onglets">
                <ul>
                    @if (@Session["role"] != null && @Session["role"].ToString() != "2")
                    {
                        <li> @Html.ActionLink("Utilisateurs", "ListeUser", new { controller = "Home" }) </li>
                    }
                    <li>@Html.ActionLink("Commandes", "ListCommandes", new { controller = "Commandes" }, new { @class = "active" })</li>
                    <li>@Html.ActionLink("Factures", "ListFacture", new { controller = "Facture" })</li>
                    <li>@Html.ActionLink("Templates", "ListTemplate", new { controller = "Template" })</li>
                </ul>
            </div>
            <div class="card back-office with-shadow">
                <div class="head">
                    <i class="icon icon-create-command"></i>
                    <h1>Créer commande</h1>
                    <p>Veuillez remplir les champs Requis et appuyez sur Enregistrer pour créer une commande</p>

                    @if (ViewBag.ErrorRedacteur != null)
                    {
                        <p class="error-msg text-centered">Veuillez selectionner un rédacteur.</p>
                    }
                </div>

                @using (Html.BeginForm("CreateCommande", "Commandes", FormMethod.Post, new { role = "form", @id = "createcommande" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- Champs -->
                    <section class="clearfix">
                        <label for="" class="col-50 pull-left">
                            Projet
                            @Html.DropDownListFor(x => Model.listprojetId, new SelectList(Model.ListProjet, "Value", "Text"), htmlAttributes: new { @id = "SelectItemProjet", @required = true })
                        </label>
                        <label for="" class="col-50 pull-right">
                            Thématique
                            @Html.DropDownListFor(x => Model.listThemeId, new SelectList(Model.ListTheme, "Value", "Text"), htmlAttributes: new { id = "SelectItemTheme", @required = true })
                        </label>
                        <label for="" class="col-50 pull-left">
                            Rédacteur
                            @Html.DropDownListFor(x => Model.listRedacteurId, new SelectList(Model.ListRedacteur, "Value", "Text"), htmlAttributes: new { id = "SelectItemRedacteur", @required = true })
                        </label>
                        <label for="" class="col-50 pull-right">
                            Type de texte
                            @Html.DropDownListFor(x => Model.listCommandeTypeId, new SelectList(Model.ListCommandeType, "Value", "Text"), htmlAttributes: new { @id = "SelectItemCommandeType", @required = true })
                        </label>
                        <label for="" class="col-50 pull-left">
                            Tag
                            @Html.EditorFor(model => model.tag, new { htmlAttributes = new { } })
                        </label>
                        <label for="" class="col-50 pull-right">
                            Site
                            @Html.EditorFor(model => model.site, new { htmlAttributes = new { } })
                        </label>

                    </section>
                    <section class="clearfix">
                        <div class="section-title">
                            <span>Mots clés</span>
                        </div>

                        <label for="" class="col-50 pull-left">
                            Mot clé principal
                            @Html.TextBoxFor(x => x.mot_cle_pricipal, new { @required = true, @name = "name" })
                        </label>
                        <label for="" class="col-50 pull-right">
                            Mot clé secondaire
                            @Html.TextBoxFor(x => x.mot_cle_secondaire, new { @required = true, @name = "name" })
                        </label>
                        <label for="" class="col-50 pull-left">
                            Texte d'ancrage
                            @Html.TextBoxFor(x => x.texte_ancrage, new { @required = true, @name = "name" })
                        </label>
                        <label for="" class="col-50 pull-right">
                            Nombre de mots
                            @Html.TextBoxFor(x => x.nombre_mots, new { @required = true, @name = "name", type = "number" })
                        </label>
                    </section>
                    <section class="clearfix">
                        <div class="section-title">
                            <span>Consignes</span>
                        </div>

                        <label for="" class="col-50 pull-left">
                            Références
                            @Html.TextAreaFor(x => x.consigne_references, new { @required = true, @name = "name" })
                        </label>
                        <label for="" class="col-50 pull-right">
                            Autres
                            @Html.TextAreaFor(x => x.consigne_autres, new { @required = true, @name = "name" })
                        </label>

                        <label for="" class="col-50 pull-right">
                            Date de livraison
                            @Html.TextBoxFor(x => x.date_livraison, "{0:dd/MM/yyyy}", new { type = "text", @required = true })
                            @Html.ValidationMessageFor(m => m.date_livraison)
                        </label>
                        <label for="" class="col-50 pull-left">
                            Ordre de priorité
                            @Html.DropDownListFor(x => x.ordrePriorite,
                                                            new List<SelectListItem> {
                                                                new SelectListItem { Value = " " , Text = "Selectionner priorité" },
                                                                new SelectListItem { Value = "Bas" , Text = "Bas" },
                                                                new SelectListItem { Value = "Moyen" , Text = "Moyen" },
                                                                new SelectListItem { Value = "Avancé" , Text = "Haut" }
                                                            }, new {  @required = true })
                        </label>
                        <span class="pull-left" style="margin-bottom: 20px;">
                            Notification sms

                            <input id="SavePass" name="checkResp" type="checkbox" style="display: inline-block; width: auto; vertical-align: middle; margin: 0 0 0 10px;" />
                        </span>

                    </section>
                    <section class="clearfix submit-area" id="toast">
                        <input type="submit" value="Envoyer" class="btn btn-success" />

                        @Html.ActionLink("Annuler", "ListCommandes", "Commandes", new { @class = "btn btn-warning" })
                    </section>
                }
            </div>
        </div>

        @if (Session["VolumeInfo"] != null)
        {
        <div id="volumePoPup" class="modal-popup">
            <div class="volumePoPup">
                <div class="icone_type">
                    <img src="~/images/icon-done.png" alt="Photo done">
                </div>
                <div class="pop_content">
                    <h3>Done !</h3>
                    <span class="ltl-consign"><i class="fa fa-info-circle"></i>Le volume journalier pour le rédacteur <span id="selectedRedact"></span> est atteint , votre commande peut être en retard. Confirmer la commande ou choisir un autre redacteur. </span>
                    <label for="" class="col-50 pull-left">
                        Choisir Rédacteur
                        @Html.DropDownListFor(x => Model.listOtherRedacteurId, new SelectList(Model.ListOtherRedacteur, "Value", "Text"), htmlAttributes: new { id = "SelectItemOtherRedacteur" })
                    </label>

                    <ul class="bouttons_area">
                        <li><button type="submit" class="green_hit" onclick="@("window.location.href='" + @Url.RouteUrl("Home", new { controller = "Commandes", action = "ListCommandes" }) + "'");">Ok</button></li>
                        <li><button type="submit" class="blue_hit" onclick="@("window.location.href='" + @Url.RouteUrl("Home", new { controller = "Commandes", action = "Create" }) + "'");">Creer une commande</button></li>
                    </ul>
                </div>
            </div>
        </div>

        }

    </main>
}
else
{ Response.Redirect("~/Login/Accueil"); }



   