@model RedactApplication.Models.MODELEViewModel
@{
    ViewBag.Title = "Thème 1";
    Layout = "~/Views/Shared/LayoutConnected.cshtml";
}

@section Scripts {
   <script>
       jQuery(document).ready(function () {
           jQuery("#menu1").hide();
           jQuery("#menu2").hide();
           jQuery("#menu3").hide();
           jQuery("#menu4").hide();

          

           $('#nb-menu').change(function () {
               jQuery("#menu1").hide();
               jQuery("#menu2").hide();
               jQuery("#menu3").hide();
               jQuery("#menu4").hide();

               if ($('#nb-menu option:selected').val() == 0) {
                   return;
                }
                else {
                   var nbmenu = $('#nb-menu option:selected').val();

                   console.log(nbmenu);
                   var i = 1;
                   while (i <= nbmenu) {
                       jQuery("#menu" + i).show();
                       i++;
                   }
                }
            });

          
       }); 
      
    </script>
   
}
<main id="wrapper">
    <div id="single-container">
        <div class="onglets ease-in-out">
            <ul>
                <li><a href="" class="active">Creation Site</a></li>
            </ul>
        </div>
        <div class="theme-select grey-bg">         
        @using (Html.BeginForm("SaveTheme", "Template", FormMethod.Post, new { @class = "formfields", enctype = "multipart/form-data" }))
        {
            <div class="card back-office with-shadow">
                <section class="clearfix">
                    <label for="" class="col-100" style="margin-bottom: 30px;">
                     
                        <div class="flex-content flex-col change-avatar">
                            Votre logo
                            @Html.TextBoxFor(m => m.logoUrl, new { type = "file", name = "file", id = "site-logo" })
                            <div class="input-custom">
                                <label for="site-logo" class="label-file">Choisir</label><span class="file-name"></span>
                            </div>
                        </div>


                    </label>
                    <label for="" class="col-50 pull-left">
                        Nombre de menu
                        <select id="nb-menu">
                            <option value="0">Selectionner le nombre de menu</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                           
                        </select>
                    </label>
                    
                </section>

                <section class="clearfix" id="menu1" >
                    <div class="section-title">
                        <span>Menu 1</span>
                        <label for="" class="col-50 pull-left">
                            Titre menu
                            @Html.TextBoxFor(x => x.menu1_titre )
                        </label>
                        <label for="" class="col-100 ">
                            Titre paragraphe 1
                            @Html.TextBoxFor(x => x.menu1_paragraphe1_titre )
                        </label>
                        <label for="" class="col-50 pull-left">
                            Photo 1
                            @Html.TextBoxFor(x => x.menu1_paragraphe1_photoUrl, new { type = "file", name = "files", id = "site-photo1" })
                            <div class="input-custom">
                                <label for="site-photo1" class="label-file">Choisir</label><span class="file-name"></span>
                            </div>
                            
                        </label>

                        <label for="" class="col-100">
                            Contenu 1
                            @Html.TextAreaFor(x => x.menu1_contenu1 )
                        </label>
                        <label for="" class="col-100 ">
                            Titre paragraphe 2
                            @Html.TextBoxFor(x => x.menu1_paragraphe2_titre )
                        </label>
                        <label for="" class="col-50 pull-left">
                            Photo 2
                            @Html.TextBoxFor(x => x.menu1_paragraphe2_photoUrl, new { type = "file", name = "files", id = "site-photo2" })
                            <div class="input-custom">
                                <label for="site-photo2" class="label-file">Choisir</label><span class="file-name"></span>
                            </div>
                        </label>

                        <label for="" class="col-100">
                            Contenu 2
                            @Html.TextAreaFor(x => x.menu1_contenu2 )
                        </label>
                        </div>
                </section>
               
                <section class="clearfix" id="menu2">
                    <div class="section-title">
                        <span>Menu 2</span>
                        <label for="" class="col-50 pull-left">
                            Titre menu
                            @Html.TextBoxFor(x => x.menu2_titre )
                        </label>
                        <label for="" class="col-100 ">
                            Titre paragraphe 1
                            @Html.TextAreaFor(x => x.menu2_paragraphe1_titre )
                        </label>
                        <label for="" class="col-50 pull-left">
                            Photo 1
                            @Html.TextBoxFor(x => x.menu2_paragraphe1_photoUrl, new { type = "file", name = "files", id = "site-photo1" })
                            <div class="input-custom">
                                <label for="site-photo1" class="label-file">Choisir</label><span class="file-name"></span>
                            </div>
                        </label>
                        <label for="" class="col-100">
                            Contenu 1
                            @Html.TextAreaFor(x => x.menu2_contenu1 )
                        </label>
                        <label for="" class="col-100">
                            Titre paragraphe 2
                            @Html.TextBoxFor(x => x.menu2_paragraphe2_titre )
                        </label>
                        <label for="" class="col-50 pull-left">
                            Photo 2
                            @Html.TextBoxFor(x => x.menu2_paragraphe2_photoUrl, new { type = "file", name = "files", id = "site-photo2" })
                            <div class="input-custom">
                                <label for="site-photo2" class="label-file">Choisir</label><span class="file-name"></span>
                            </div>
                        </label>

                        <label for="" class="col-100">
                            Contenu 2
                            @Html.TextAreaFor(x => x.menu2_contenu2 )
                        </label>
                        </div>
                </section>
               
                <section class="clearfix" id="menu3">
                    <div class="section-title">
                        <span>Menu 3</span>
                        <label for="" class="col-50 pull-left">
                            Titre menu
                            @Html.TextBoxFor(x => x.menu3_titre )
                        </label>
                        <label for="" class="col-100 ">
                            Titre paragraphe 1
                            @Html.TextBoxFor(x => x.menu3_paragraphe1_titre )
                        </label>
                        <label for="" class="col-50 pull-left">
                            Photo 1
                            @Html.TextBoxFor(x => x.menu3_paragraphe1_photoUrl, new { type = "file", name = "files", id = "site-photo1" })
                            <div class="input-custom">
                                <label for="site-photo1" class="label-file">Choisir</label><span class="file-name"></span>
                            </div>
                        </label>
                        <label for="" class="col-100">
                            Contenu 1
                            @Html.TextAreaFor(x => x.menu3_contenu1 )
                        </label>
                        <label for="" class="col-100">
                            Titre paragraphe 2
                            @Html.TextBoxFor(x => x.menu3_paragraphe2_titre )
                        </label>
                        <label for="" class="col-50 pull-left">
                            Photo 2
                            @Html.TextBoxFor(x => x.menu3_paragraphe2_photoUrl, new { type = "file", name = "files", id = "site-photo2" })
                            <div class="input-custom">
                                <label for="site-photo2" class="label-file">Choisir</label><span class="file-name"></span>
                            </div>
                        </label>

                        <label for="" class="col-100">
                            Contenu 2
                            @Html.TextAreaFor(x => x.menu3_contenu2 )
                        </label>
                        </div>
                </section>
               
                <section class="clearfix" id="menu4">
                    <div class="section-title">
                        <span>Menu 4</span>
                        <label for="" class="col-50 pull-left">
                            Titre menu
                            @Html.TextBoxFor(x => x.menu4_titre )
                        </label>
                        <label for="" class="col-100 ">
                            Titre paragraphe 1
                            @Html.TextBoxFor(x => x.menu4_paragraphe1_titre )
                        </label>
                        <label for="" class="col-50 pull-left">
                            Photo 1
                            @Html.TextBoxFor(x => x.menu4_paragraphe1_photoUrl, new { type = "file", name = "files", id = "site-photo1" })
                            <div class="input-custom">
                                <label for="site-photo1" class="label-file">Choisir</label><span class="file-name"></span>
                            </div>
                        </label>
                        <label for="" class="col-100">
                            Contenu 1
                            @Html.TextAreaFor(x => x.menu4_contenu1 )
                        </label>
                        <label for="" class="col-100">
                            Titre paragraphe 2
                            @Html.TextBoxFor(x => x.menu4_paragraphe2_titre )
                        </label>
                        <label for="" class="col-50 pull-left">
                            Photo 2
                            @Html.TextBoxFor(x => x.menu4_paragraphe2_photoUrl, new { type = "file", name = "files", id = "site-photo2" })
                            <div class="input-custom">
                                <label for="site-photo2" class="label-file">Choisir</label><span class="file-name"></span>
                            </div>
                        </label>

                        <label for="" class="col-100">
                            Contenu 2
                            @Html.TextAreaFor(x => x.menu4_contenu2 )
                        </label>
                        </div>
                </section>
              
                <section class="clearfix submit-area">
                    <input type="submit" value="Enregistrer" class="btn btn-success">
                    @Html.ActionLink("Annuler", "ListTemplate", "Template", new { }, new { @class = "btn btn-warning" })
                </section>
            </div>
        }
        </div>
    </div>
</main>

