@model RedactApplication.Models.MODELEViewModel
@{
    ViewBag.Title = "Thème 8";
    Layout = "~/Views/Shared/LayoutConnected.cshtml";
}

@section Scripts {
    <link rel="stylesheet" href="~/Content/css/elements/sites-creation.css">

    <script type="text/javascript" src="~/Scripts/codetemplate.js"></script>
    <script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>

}

<main id="wrapper">
    <div id="single-container">
        <div class="onglets ease-in-out">
            <ul>
                <li> @Html.ActionLink("Dashboard", "ListTemplate", new { controller = "Template" }) </li>
                <li> @Html.ActionLink("Creation Site", "ChoiceTemplate", new { controller = "Template" }, new { @class = "active" })</li>
                @if (Session["name"] != null && @Session["role"] != null && @Session["role"].ToString() != "6")
                {
                    <li> @Html.ActionLink("Utilisateurs", "ListeUserTemplate", new { controller = "Home" }) </li>
                }
            </ul>
        </div>
        <div class="theme-select grey-bg">
            <section class="clearfix container">
                <div class="row">
                    <a href="" class="col-md-3 selected">
                        <div class="thumb with-shadow"><img src="images/theme8_thumb.jpg" /></div>
                        <span>Thème 8</span>
                    </a>
                </div>
            </section>
        </div>
        @using (Html.BeginForm("SaveTheme", "Template", FormMethod.Post, new { @class = "formfields", enctype = "multipart/form-data" }))
        {
            <section class="theme-customization clearfix">
                <div class="section-title">
                    <span>Identité de votre site</span>
                </div>

                <div class="row site-identity">
                    <div class="col-md-6">
                        <div class="blk">
                            <strong>Logo (*)</strong>
                            @Html.TextBoxFor(m => m.logoUrl, new { type = "file", accept = "image/*", name = "file", id = "logoUrl",  required = true })
                            <label for="logoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                            <p>Image au format JPG, PNG ou GIF</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blk">
                            <strong>L'url de votre site (*)</strong>
                            @Html.TextBoxFor(m => m.site_url, new { placeholder = "www.example.com", required = true, type = "url" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blk">
                            <strong>Choisir un favicon (*)</strong>
                            @Html.TextBoxFor(m => m.favicone, new { type = "file", accept = "image/*", name = "file", id = "favicone" })
                            <label for="favicone" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                            <p>Image au format JPG, PNG ou GIF</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blk">
                            <strong>Nombre de menu</strong>
                            <select id="nb-menu" name="nbmenu">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>                    
                </div>

                <!-- contenu bloc 1 -->
                <div class="section-title">
                    <span>Contenu du site</span>
                </div>
                <div class="content-to-show">
                    <!-- TAB NAVIGATION -->
                    <ul id="tab-navigation">
                        <li><a href="#" data-content="menu1" id="fire-menu1">Accueil</a></li>
                        <li><a href="#" data-content="menu2" id="fire-menu2">Menu 2</a></li>
                        <li><a href="#" data-content="menu3" id="fire-menu3">Menu 3</a></li>
                        <li><a href="#" data-content="menu4" id="fire-menu4">Menu 4</a></li>
                    </ul>
                    <div class="blk clearfix">
                        <!-- Menu 1 -->
                        <div class="item" id="menu1">
                            <label for="" class="col-md-6">
                                <strong>Intitulé de la page d'accueil (*)</strong>
                                @Html.TextBoxFor(x => x.menu1_titre, new { placeholder = "Nom de la page", required = true })
                            </label>
                            <label for="" class="col-md-6">
                                <strong>Méta description</strong>
                                @Html.TextBoxFor(x => x.menu1_meta_description, new { placeholder = "Ajoutez votre description" })
                            </label>
                            <span class="divider"></span>
                            <label for="" class="col-md-6">
                                <strong>Titre du paragraphe 1</strong>
                                @Html.TextBoxFor(x => x.menu1_paragraphe1_titre, new { required = true })
                            </label>                            
                            <div class="col-md-6 custom-upload">
								<strong>Photo paragraphe 1</strong>
                                @Html.TextBoxFor(x => x.menu1_paragraphe1_photoUrl, new { type = "file", accept = "image/*", name = "files", id = "menu1_paragraphe1_photoUrl" })
                                <label for="menu1_paragraphe1_photoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                                <p>Image au format JPG, PNG ou GIF</p>
                            </div>
                            <label for="" class="col-md-12">
                                <strong>Contenu 1</strong>
                                @Html.TextAreaFor(x => x.menu1_contenu1)
                            </label>
                            <span class="divider"></span>
                             <label for="" class="col-md-6">
                                <strong>Titre du paragraphe 2</strong>
                                @Html.TextBoxFor(x => x.menu1_paragraphe2_titre)
                            </label>
                             <div class="col-md-6 custom-upload">
								<strong>Photo paragraphe 2</strong>
                                @Html.TextBoxFor(x => x.menu1_paragraphe2_photoUrl, new { type = "file", accept = "image/*", name = "files", id = "menu1_paragraphe2_photoUrl" })
                                <label for="menu1_paragraphe2_photoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                                <p>Image au format JPG, PNG ou GIF</p>
                            </div>
                            <label for="" class="col-md-12">
                                <strong>Contenu 2</strong>
                                @Html.TextAreaFor(x => x.menu1_contenu2)
                            </label>
                        </div>

                        <!-- Menu 2 -->
                        <div class="item" id="menu2">
                            <label for="" class="col-md-6">
                                <strong>Intitulé de la page (*)</strong>
                                @Html.TextBoxFor(x => x.menu2_titre, new { placeholder = "Nom de la page"})
                            </label>
                            <label for="" class="col-md-6">
                                <strong>Méta description</strong>
                                @Html.TextBoxFor(x => x.menu2_meta_description, new { placeholder = "Ajoutez votre description" })
                            </label>
                            <span class="divider"></span>
                            <label for="" class="col-md-6">
                                <strong>Titre du paragraphe 1 (*)</strong>
                                @Html.TextBoxFor(x => x.menu2_paragraphe1_titre)
                            </label>                            
                            <div class="col-md-6 custom-upload">
								<strong>Photo paragraphe 1</strong>
                                @Html.TextBoxFor(x => x.menu2_paragraphe1_photoUrl, new { type = "file", accept = "image/*", name = "files", id = "menu2_paragraphe1_photoUrl" })
                                <label for="menu2_paragraphe1_photoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                                <p>Image au format JPG, PNG ou GIF</p>
                            </div>
                            <label for="" class="col-md-12">
                                <strong>Contenu 1</strong>
                                @Html.TextAreaFor(x => x.menu2_contenu1)
                            </label>
                            <span class="divider"></span>
                            <label for="" class="col-md-6">
                                <strong>Titre du paragraphe 2</strong>
                                @Html.TextBoxFor(x => x.menu2_paragraphe2_titre)
                            </label>
                             <div class="col-md-6 custom-upload">
								<strong>Photo paragraphe 2</strong>
                                @Html.TextBoxFor(x => x.menu2_paragraphe2_photoUrl, new { type = "file", accept = "image/*", name = "files", id = "menu2_paragraphe2_photoUrl" })
                                <label for="menu2_paragraphe2_photoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                                <p>Image au format JPG, PNG ou GIF</p>
                            </div>
                            <label for="" class="col-md-12">
                                <strong>Contenu 2</strong>
                                @Html.TextAreaFor(x => x.menu2_contenu2)
                            </label>
                        </div>

                        <!-- Menu 3 -->
                        <div class="item" id="menu3">
                            <label for="" class="col-md-6">
                                <strong>Intitulé de la page (*)</strong>
                                @Html.TextBoxFor(x => x.menu3_titre, new { placeholder = "Nom de la page" })
                            </label>
                            <label for="" class="col-md-6">
                                <strong>Méta description</strong>
                                @Html.TextBoxFor(x => x.menu3_meta_description, new { placeholder = "Ajoutez votre description" })
                            </label>
                            <span class="divider"></span>
                            <label for="" class="col-md-6">
                                <strong>Titre du paragraphe 1 (*)</strong>
                                @Html.TextBoxFor(x => x.menu3_paragraphe1_titre)
                            </label>                            
                            <div class="col-md-6 custom-upload">
								<strong>Photo paragraphe 1</strong>
                                @Html.TextBoxFor(x => x.menu3_paragraphe1_photoUrl, new { type = "file", accept = "image/*", name = "files", id = "menu3_paragraphe1_photoUrl" })
                                <label for="menu3_paragraphe1_photoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                                <p>Image au format JPG, PNG ou GIF</p>
                            </div>
                            <label for="" class="col-md-12">
                                <strong>Contenu 1</strong>
                                @Html.TextAreaFor(x => x.menu3_contenu1)
                            </label>
                            <span class="divider"></span>
                             <label for="" class="col-md-6">
                                <strong>Titre du paragraphe 2</strong>
                                @Html.TextBoxFor(x => x.menu3_paragraphe2_titre)
                            </label>
                             <div class="col-md-6 custom-upload">
								<strong>Photo paragraphe 2</strong>
                                @Html.TextBoxFor(x => x.menu3_paragraphe2_photoUrl, new { type = "file", accept = "image/*", name = "files", id = "menu3_paragraphe2_photoUrl" })
                                <label for="menu3_paragraphe2_photoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                                <p>Image au format JPG, PNG ou GIF</p>
                            </div>
                            <label for="" class="col-md-12">
                                <strong>Contenu 2</strong>
                                @Html.TextAreaFor(x => x.menu3_contenu2)
                            </label>
                        </div>

                        <!-- Menu 4 -->
                        <div class="item" id="menu4">
                            <label for="" class="col-md-6">
                                <strong>Intitulé de la page (*)</strong>
                                @Html.TextBoxFor(x => x.menu4_titre, new { placeholder = "Nom de la page" })
                            </label>
                            <label for="" class="col-md-6">
                                <strong>Méta description</strong>
                                @Html.TextBoxFor(x => x.menu4_meta_description, new { placeholder = "Ajoutez votre description" })
                            </label>
                            <span class="divider"></span>
                            <label for="" class="col-md-6">
                                <strong>Titre du paragraphe 1 (*)</strong>
                                @Html.TextBoxFor(x => x.menu4_paragraphe1_titre)
                            </label>                            
                            <div class="col-md-6 custom-upload">
								<strong>Photo paragraphe 1</strong>
                                @Html.TextBoxFor(x => x.menu4_paragraphe1_photoUrl, new { type = "file", accept = "image/*", name = "files", id = "menu4_paragraphe1_photoUrl" })
                                <label for="menu4_paragraphe1_photoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                                <p>Image au format JPG, PNG ou GIF</p>
                            </div>
                            <label for="" class="col-md-12">
                                <strong>Contenu 1</strong>
                                @Html.TextAreaFor(x => x.menu4_contenu1)
                            </label>
                            <span class="divider"></span>
                             <label for="" class="col-md-6">
                                <strong>Titre du paragraphe 2</strong>
                                @Html.TextBoxFor(x => x.menu4_paragraphe2_titre)
                            </label>
                             <div class="col-md-6 custom-upload">
								<strong>Photo paragraphe 2</strong>
                                @Html.TextBoxFor(x => x.menu4_paragraphe2_photoUrl, new { type = "file", accept = "image/*", name = "files", id = "menu4_paragraphe2_photoUrl" })
                                <label for="menu4_paragraphe2_photoUrl" class="btn-upload"><span class="file-name">Choisir un fichier</span></label><i class="remove-file">&times;</i>
                                <p>Image au format JPG, PNG ou GIF</p>
                            </div>
                            <label for="" class="col-md-12">
                                <strong>Contenu 2</strong>
                                @Html.TextAreaFor(x => x.menu4_contenu2)
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <section class="clearfix submit-area" id="toast">
                <input type="submit" value="Suivant" class="btn btn-success">
                @Html.ActionLink("Annuler", "ChoiceTemplate", "Template", new { }, new { @class = "btn btn-warning" })
            </section>
        }
    </div>
</main>

